{% extends 'base.html' %}


{% block content %}
    <div class="row">
       {% for product in pdt %}
        <div class="col-md-3">
            <div class="card">
                    <img src="{{ product.image.url }}" alt="" class="card-img-top" style="max-width:250px">
                <div class="card-body">

                    <div id="aa{{ product.id }}" class="card-title">{{ product.name }}</div>

                    <div id="price{{ product.id }}" style="color:orange" class="card-text">{{ product.price }}</div>
                    <a href="{% url 'home' %}"></a>
         <!-- {% url 'products' product.slug %} is used in case get_absolute_url method is not used in models.py file-->

                    <a href="{{ product.get_absolute_url }}" class="btn btn-warning">View</a>
                    <button id="{{ product.id }}" class="btn ted btn-success">Add</button>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>





    <h2>My success is base on programming</h2>
{% endblock %}