<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Shop</title>
</head>
<body>
    <a href="{% url 'index' %}">
        <h2>The miamo Shop</h2>
    </a>

    {% block signup %}
        {% if user.is_authenticated %}
            {{ user.username }}
    <a href="{% url 'logout' %}">Logout</a>
        {% else %}
            <a href="{% url 'login' %}"><h2>login</h2></a>
            <a href="{% url 'signup' %}"><h2>SignUp</h2></a>
        {% endif %}
    {% endblock %}

    {% if user.cart %}
        <p>
            <a href="{% url 'cart' %}">Vue your Cart ({{ user.cart.orders.count }})</a>
        </p>

    {% endif %}

    {% block content %}

    {% endblock %}

</body>
</html>